<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="">Blankit</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" routerLink="/stats">Stats</a>  
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/entries">My Entries</a>  
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/calendar">Calendar</a>  
    </li>
    </ul>
  </div>
    <app-logout></app-logout>
</nav>