.main {
    padding-top: 80px;
}
.red {
    background-color :#FF0000;
  }

  .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #282a8e; /*set the color you want here*/
}